<%= form_for @comic do |f| %>
    <div class='col-lg-6 center'>
        <h2>Add to Library</h2>
        <div class='form-group'>
            <%= f.label :title, "Title: ", class: 'form-control-label' %>
            <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class='form-group'>
        <%= f.label :issue_number, "Issue Number: ", class: 'form-control-label' %>
        <%= f.number_field :issue_number, class: 'form-control' %>
        </div>
        <div class='form-group'>
        <%= f.label :price, "Price: ", class: 'form-control-label' %>
        <%= f.text_field :price, class: 'form-control' %>
        </div>
        <div class='form-group'>
            <%= f.label :image_url, 'Image URL', class: 'form-control-label' %>
            <%= f.text_field :image_url, class: 'form-control' %>
        </div>
        <%= f.submit 'Save Comic', class: 'btn btn-secondary' %>
    </div>
<% end %>